openapi: 3.2.0
info:
  title: MrScraper Results API
  version: '2026-10-07'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-07: 3 operation(s) read from 3 public documentation page(s) (each operation names its page in x-source).'
  x-evidence-tiers:
    code-example: 25
    documentation: 3
    pages-with-code: 40
    pages-read: 40
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-07'
  x-generator: generate-contract-from-docs.py
  x-engine: anthropic
  x-sources:
  - https://docs.mrscraper.com/docs/api/authentication
  - https://docs.mrscraper.com/docs/api/v3/analytic/proxy
  - https://docs.mrscraper.com/docs/getting-started/mcp-server
  x-filtered:
    date: '2026-10-07'
    kept: 3
    dropped: 25
    rule: method+path verbatim in the docs APIPage declarations for document openapi.json
servers:
- url: https://api.app.mrscraper.com
security:
- apiKey: []
tags:
- name: Results
paths:
  /api/v1/results/{resultId}:
    get:
      operationId: get_api_v1_results_resultId
      tags:
      - Results
      summary: Retrieve full output data and metadata for a single stored result by ID
      x-source: https://docs.mrscraper.com/docs/getting-started/mcp-server
      parameters:
      - name: resultId
        in: path
        required: true
        schema:
          type: string
      - name: include_html
        in: query
        required: false
        schema:
          type: boolean
        description: Includes stored HTML.
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1ResultsResultidResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    GetApiV1ResultsResultidResponse:
      type: object
      properties:
        status_code:
          type: integer
          description: HTTP status returned by the MrScraper service.
        data:
          type: object
          description: Parsed JSON or response text supplied by the service.
        headers:
          type: object
          description: Response headers with credential-bearing headers filtered out.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-token
