openapi: 3.2.0
info:
  title: MrScraper Proxies API
  version: '2026-10-07'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-07: 3 operation(s) read from 3 public documentation page(s) (each operation names its page in x-source).'
  x-evidence-tiers:
    code-example: 25
    documentation: 3
    pages-with-code: 40
    pages-read: 40
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-07'
  x-generator: generate-contract-from-docs.py
  x-engine: anthropic
  x-sources:
  - https://docs.mrscraper.com/docs/api/authentication
  - https://docs.mrscraper.com/docs/api/v3/analytic/proxy
  - https://docs.mrscraper.com/docs/getting-started/mcp-server
  x-filtered:
    date: '2026-10-07'
    kept: 3
    dropped: 25
    rule: method+path verbatim in the docs APIPage declarations for document openapi.json
servers:
- url: https://api.app.mrscraper.com
security:
- apiKey: []
tags:
- name: Proxies
paths:
  /api/v1/proxies/user/requests-bandwidth:
    get:
      operationId: get_api_v1_proxies_user_requests_bandwidth
      tags:
      - Proxies
      summary: GET /api/v1/proxies/user/requests-bandwidth
      x-source: https://docs.mrscraper.com/docs/api/v3/analytic/proxy
      parameters:
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1ProxiesUserRequestsBandwidthResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl JavaScript Go Python Java C# curl -X GET \"https://api.app.mrscraper.com/api/v1/proxies/user/requests-bandwidth?startDate=2026-07-01+09%3A54%3A03&endDate=2026-07-01+10%3A54%3A03\" 200 400 401 [ \n { \n \"username\" : \"john\" , \n \"total_bandwidth_usage\" : 99.384 \n }, \n { \n \"username\" : \"jane\" , \n \"total_bandwidth_usage\" : 31.022 \n } \n ] { \n \"message\" : \"startDate is required and must be in `yyyy-MM-d"
components:
  schemas:
    GetApiV1ProxiesUserRequestsBandwidthResponse:
      type: object
      properties:
        username:
          type: string
        total_bandwidth_usage:
          type: number
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-token
